:root {
    --animation-left: 400px;
    /*--animation-top: 70%;*/
    /*--animation-transform: translateY(-50%);*/
    /*--animation-font-size: 24px;*/
}


.visualization-page {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #000;
}


.background-video {
    position: absolute;
    top: 0;
    left: 0;

    width: 1728px;
    height: 960px;
    z-index: 0;
}


/* Добавляем стили для drawn-numbers */
.drawn-numbers {

    position: fixed;
    left: 205px;
    bottom: 220px;
    transform: translateY(-50%);
    display: flex
;
    flex-direction: row;
    gap: 25px;
    /* background: rgba(0, 0, 0, 0.3); */
    padding: 20px;
    border-radius: 10px;
    z-index: 2;

}

.drawn-number {
    font-size: 50px;
    color: #333333;
    font-weight: normal;
    font-family: TinkoffSans;
}

/* Меняем анимацию на перемещение влево */
@keyframes flyToLeft {
    from {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    to {
        left: var(--animation-left);
        top: 72%;
        transform: translateY(-50%);
        font-size: 50px;
        opacity: 0.1;
    }
}

.fly-animation {
    animation: flyToLeft 1s forwards;
    z-index: 3;
}

.center-number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 250px;
    font-weight: normal;
    color: #333333;
    z-index: 1;
    font-family: TinkoffSans;
}

/* Остальные стили остаются без изменений */

/* Добавляем стили для нового отображения */
.new-stage-numbers {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 40px;
    z-index: 3;
    flex-direction: column;
    align-items: center;
}

.column {
    display: flex;
    gap: 90px;
    flex-direction: row;
    align-items: center;
}

.large-number {
    font-size: 100px;
    font-weight: normal;
    color: #333333;
    text-align: center;
    font-family: TinkoffSans;

}



@font-face {
    font-family: 'TinkoffSans';
    src: url('./fonts/TinkoffSans_Bold.ttf')  format("truetype"); ;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TinkoffSans';
    src: url('./fonts/TinkoffSans_Medium.ttf')  format("truetype");
    font-weight: normal;
    font-style: normal;
}

